/* GENERAL STYLES */
body {
    background-color: #ededed;
    font-family: 'Roboto', sans-serif;
    /* font-family: 'Merriweather', serif; */
    /* font-family: 'Bitter', serif; */
}

#epic-title {
    color: black;
    padding-top: 30px;
    padding-left: 35px;
    padding-bottom: 15px;
}

/* WHITE SIDE BAR AREA */
.first {
    background-color: #ddd;
    position: relative;
}
.ontop {
    height: 700px;
    background-color: rgb(255, 191, 191);
    position: absolute;
    top: -5px;
    width: 460px;
    left: 0px;
    z-index: 2;
}

.white-screen {
    padding-right: 60px;
    height: 100%;
    background: url(https://gia.guim.co.uk/2013/05/alaska/responsive/img/4_screen.png) top left repeat-y;
}

.side-footer {
    font-size: .7em;
    padding-left: 15px;
    position: absolute;
    bottom: 15px;
}

/* NAVBAR */
#nav-links {
    align-content: center;
    padding-left: 22px;
    padding-right: 41px;
    padding-bottom: 15px;
}

.container {
    margin-top: 5px;
}

#pills, a:link{
    color: white;
    text-decoration: none;
}

#myNavbar {
    margin-top: 5px;
}

/* Main DIV Styles */

#filter-box {
    margin-top: 10px;
    margin-left: 15px;
    padding-top: 15px;
    padding-left: 15px;
    padding-bottom: 20px;
    width: 350px;
    background-color: white;
    border-style: solid;
    border-color: #e5e5e5;
    border-width: 1px;
    align-content: center;
}

#mapkey-box {
    background-color: white;
    margin-top: 10px;
    margin-left: 15px;
    padding-top: 15px;
    padding-left: 15px;
    padding-bottom: 20px;
    width: 350px;
    height: 100px;
    border-style: solid;
    border-color: #e5e5e5;
    border-width: 1px;
}

#chart-box {
    background-color: white;
    margin-top: 10px;
    margin-left: 15px;
    padding-top: 15px;
    padding-left: 15px;
    padding-bottom: 20px;
    width: 350px;
    height: 325px;
    border-style: solid;
    border-color: #e5e5e5;
    border-width: 1px;
}

#mapbox {
    /* index */
    padding-top: 15px;
    padding-left: 15px;
    padding-right: -30px;
    background-color: white;
    border-style: solid;
    border-color: #e5e5e5;
    border-width: 1px;
    margin-left: -15px;
    height: 100vh;
    width: 101vw;
    z-index: 1;
    position: relative;
}