<!DOCTYPE html>
<html lang="en">

<!-- <head>
    {% include "head.html" %}
    <title>EPIC Project 2!</title>
</head> -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}"> -->
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Bitter|Merriweather|Roboto" rel="stylesheet">
</head>

<body>
  <div class="container-fluid">

    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="#"><h4>EPIC Austin Housing Explorer</h4></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        
        <!-- NAVIGATION LINKS -->
            <div class="btn-toolbar flex-grow-1 text-right" id="myNavbar">
            <ul class="navbar-nav ml-auto flex-nowrap">
                    <button type="button" class="btn btn-secondary bt-sm ml-2">Explore</button>
                    <button type="button" class="btn btn-secondary bt-sm ml-2">Trends</button>
            </ul>
            </div>
    </nav>
    
    <!-- MAIN BODY -->
    <div class="row">

        <!-- SIDE BAR -->
        <div class="col-lg-3 col-md-3 col-sm-2">

            <!-- FILTER PANEL -->
            <div id="filter-box">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h5 class="panel-title">Filters </h5>
                    </div>
                    <div class="panel-body">
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-secondary" onclick="myFunction()">Houses</button>
                            <button type="button" class="btn btn-secondary" onclick="myFunction()">Commute</button>
                            <button type="button" class="btn btn-secondary" onclick="myFunction()">Crime</button>
                            <button type="button" class="btn btn-secondary" onclick="myFunction()">School</button>
                        </div>
                    </div>
                </div>
            </div>

            <script>
                function myFunction() {
                  document.getElementById("mapbox").innerHTML = "";
                }
            </script>

            <!-- MAP KEY -->
            <div id="mapkey-box">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h5 class="panel-title">Map Key </h5>
                    </div>
                    <div class="panel-body">
                        
                    </div>
                </div>
            </div>

            <!-- CHART BOX -->
            <div id="chart-box">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h5 class="panel-title">Chart </h5>
                    </div>
                    <div class="panel-body">
                        
                    </div>
                </div>
            </div>
        </div>

        <!-- MAP AREA -->
        <div class="col-lg-9 col-md-9 col-sm-10">
            <div class="mapbox">
                <h5 class="panel-title">Mapbox </h5>
            </div>
        </div>
      
    </div>
  </div>
</body>

<!-- FOOTER AREA -->
<!-- <footer>
    {% include "footer.html" %}
</footer> -->

<footer class="page-footer font-small blue fixed-bottom">
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2018 ECONOMETRIC PROPERTY INFORMATION CODING TEAM
    </div>
  </footer>

<!-- SCRIPTS AREA -->
    <!-- {% include "scripts.html" %}    -->

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="../static/js/app.js"></script>

</html>